html
    head
        title ariesphotography
        script(src="//code.jquery.com/jquery-1.11.2.min.js")
        script(src="gen.js")
    body
        label please input customer url here
        input(type=text)
        button generate